.features__list {
    display: flex;
   flex-wrap: wrap;

    @include mq(mobile-only) {
        display: block;
    }

    @include mq(tablet-only) {
        gap: 30px;
    }
}


.features__item {
    @include mq(mobile-only) {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @include mq(tablet-only) {
        flex-basis: calc((100% - 30px) / 2);
    }

    @include mq(desktop) {
        width: 270px;
        
        &:not(:last-child) {
        margin-right: 30px;
    }
    }
    
}



.features__subtitle {
    margin-bottom: 10px;
    color: var(--title-cl);

    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.42px;
    text-transform: uppercase;

    @include mq(mobile-only) {
            text-align: center;
        }
}

.features__content {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.features__background {
    display: flex;
    // width: 270px;
    align-items: center;
    justify-content: center;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    background: var(--light-bg);

    @include mq(mobile-only) {
            width: 100%;
        }
}
