.footer {
    background-color: var(--dark-bg);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__container {
    display: block;
    text-align: center;

    @include mq(tablet) {
        display: flex;
        align-items: baseline;
    }

    @include mq(tablet-only) {
        flex-wrap: wrap;
    }

    @include mq(desktop){
        text-align: start;
    }
}

.footer__address {
    @include mq(tablet-only) {
        margin-right: 165px;
    }
    @include mq(desktop){
        margin-right: 70px;
    }  
}

.footer__logo {
    margin-right: 0;
    margin-bottom: 20px;

    font-size: 24px;
    letter-spacing: 0.72px;
}

.address {
    margin-top: 20px;
    color: var(--white-cl);
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.42px;

    text-align: center;

    @include mq(desktop) {
        text-align: start;
    }

}

.address__text {
    // width: 231px;
    margin-bottom: 9px;
    text-align: center;
}

.address__email {
    text-decoration: none;
    margin-bottom: 9px;
    display: block;
    color: var(--txt-footer-cl);
    font-size: 14px;
    font-style: 1;
    line-height: 1.71;
    letter-spacing: 0.42px;
    transition: color var(--standard);

    &:hover,
    &:focus {
      color: var(--accent-cl);
    }
}

.address__phone {
    text-decoration: none;
    display: block;
    color: var(--txt-footer-cl);
    font-size: 14px;
    font-style: 1;
    line-height: 1.71;
    letter-spacing: 0.42px;
    transition: color var(--standard);

    &:hover,
    &:focus {
        color: var(--accent-cl);
    }

    @include mq(not-desktop) {
        margin-bottom: 60px;
    }
}

.footer__content {
    display: block;

    @include mq(tablet-only) {
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }
}

.footer-title {

    color: var(--white-cl);

    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer__list {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq(mobile-only) {
        margin-bottom: 60px;
    }
}

.footer__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.10);
    transition: background-color var(--standard);

    &:hover,
    &:focus {
     background-color: var(--accent-bg);
    }
}

.footer__icon {
    fill: var(--white-cl);
}

.footer__item:not(:last-child) {
    margin-right: 10px;
}