.header {
    border-bottom: 1px solid var(--border-cl);


    padding-top: 16px;
    padding-bottom: 16px;

    position: relative;

    @include mq(tablet) {
        padding-top: 21px;
        padding-bottom: 21px;
    }
}

.header__container {

    display: flex;
    align-items: center;
}