.navigation {

    @include mq(tablet) {
      display: flex;
      align-items: center;
    }
}

.navigation__logo {
    @include mq(mobile-only) {
        opacity: 0;
    }
}

.navigation__list {
    display: none;

    @include mq(tablet) {
      display: flex;
    }
}


.navigation__item:not(:last-child) {
    margin-right: 50px;
}



.navigation__link {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-cl);

    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.28px;
    text-decoration: none;

    transition: color var(--standard);

    &:hover,
    &:focus {
        color: var(--accent-cl);
    }

    &--active {
        color: var(--accent-cl);
    }
}





.navigation__link--active::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;


    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: var(--accent-cl);

}

