.header {
    border-bottom: 1px solid var(--border-cl);

    position: relative;

    @include mq(mobile-only) {
            padding-top: 16px;
            padding-bottom: 16px;
    }
}

.header__container {

    display: flex;
    align-items: center;
}