.mob-menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    padding: 48px 40px;

    background-color: var(--white-cl);

    z-index: 999;
    transform: translateY(100%);
    transition: transform var(--standard);


    &.is-open {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        transform: translateY(0);
    }
}

.mob-menu__nav-list {
    display: block;
}

.mob-menu__link {
    color: var(--title-cl);

        font-size: 40px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 0.8px;
        text-decoration: none;

    transition: color var(--standard);

    &:hover,
    &:focus {
        color: var(--accent-cl);
    }
}

.mob-menu__item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.mob-menu__contacts {
    margin-top: auto;
}

.mob-menu__contact-item {
    margin-bottom: 32px;
}

.mob-menu__tel {
    color: var(--accent-cl);
        font-size: 34px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 0.68px;
        text-decoration: none;
}

.mob-menu__mail {
    color: var(--main-cl);
        font-size: 24px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 0.48px;
        text-decoration: none;
}

.mob-menu__socials {
    display: flex;
    margin-top: 32px;
}

.mob-menu__socials-item {

    &:not(:last-child) {
            margin-right: 10px;
            padding-right: 10px;
        }
}

.mob-menu__socials-item:not(:last-child) .mob-menu__socials-link::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: -10px;
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.20);
}

.mob-menu__socials-link {
    position: relative;
    color: var(--accent-cl);

        font-size: 18px;
        font-weight: 500;
        line-height: 1.22;
        letter-spacing: 0.36px;
        text-decoration: none;
    
 
}