.back-drop {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.20);
    z-index: 10;

    padding: 93px 15px;
    overflow-y: scroll;

    opacity: 1;
    visibility: visible;
    transition: opacity var(--standard),
        visibility var(--standard);
}

.back-drop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.back-drop.is-hidden .modal-wrapper {
    transform: translate(-50%, -50%) scale(0.9);

}

.modal-wrapper {
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    background: var(--white-cl);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    transform: translate(-50%, -50%) scale(1.1);
    transition: transform var(--standard);

    @include mq(mobile) {
        max-width: 450px;
    }
    @include mq(desktop) {
        max-width: 528px;
    }
}


.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: var(--white-cl);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.10);

    cursor: pointer;
    transition: fill var(--standard);

    &:hover,
    &:focus {
    fill: var(--accent-cl);
    }
}

.modal-form__title {
    display: block;
    margin-bottom: 12px;
    color: var(--title-cl);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.6px;
}

.modal-form__group {
    display: block;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
}

.modal-form__group:last-child {
    margin-bottom: 0;
}

.modal-form__label {
    display: block;
    margin-bottom: 4px;
    color: var(--main-cl);
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.12px;
}

.modal-form__input {
    position: relative;
    outline: transparent;
    width: 100%;
    height: 40px;
    padding: 12px 42px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);

    transition: border-color var(--standard);

    &:focus,
    &:hover {
    border: 1px solid #2196F3;
    border-radius: 4px;
    }
}

.modal-form__text-comment {
    margin-bottom: 20px;
    padding: 12px 16px;
    outline: transparent;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    resize: none;

    transition: border-color var(--standard);

    &:focus,
    &:hover {
    border: 1px solid #2196F3;
    border-radius: 4px;
    }
}

.modal-form__text-comment::placeholder {
    color: rgba(117, 117, 117, 0.50);
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.12px;
}


.modal-form__icon {
    position: absolute;
    bottom: 11px;
    left: 12px;

    fill: var(--title-cl);

    transition: fill var(--standard);

    .modal-form__input:focus~&,
    .modal-form__input:hover~& {
    fill: var(--accent-cl);
    }
}


.modal-form__agreement {
    display: flex;
    align-items: baseline;
    justify-content: center;

}

.modal-form__custom-checkbox {
    margin-right: 7px;
    width: 16px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    outline: 2px solid var(--title-cl);
    outline-offset: -2px;
    border-radius: 2px;

    transition: outline var(--standard),
        background-color var(--standard);
}

.modal-form__checkbox:focus+.modal-form__custom-checkbox {
    outline: 2px solid var(--accent-cl);
}

.modal-form__checkbox-icon {
    opacity: 0;
    border-radius: 2px;

    transition: opacity var(--standard);
}

.modal-form__checkbox:checked+.modal-form__custom-checkbox {
    outline: var(--accent-cl);
    background-color: var(--accent-cl);
}

.modal-form__checkbox:checked+.modal-form__custom-checkbox .modal-form__checkbox-icon {
    opacity: 1;
}

.modal-form__text-agreement {
    margin-bottom: 36px;
    color: var(--main-cl);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.modal-form__terms {
    color: var(--accent-cl);
    line-height: 24px;
    letter-spacing: 0.42px;
}

.modal-form__btn {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background: var(--accent-cl);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    color: var(--white-cl);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
}